@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,900;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 200px;
}
body{
    background-image: url(b2.jpg);
    font-size: 15px;
    font-family: Nunito;
}
h1 {
    margin-bottom: 20px;
}
.Late-days {
    margin-bottom: 20px;
}

.Hide-details {
    display: none;
}

.show
{
    background-color: #dbd9dc;
    color: rgb(106, 134, 234);
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: 100vh;
    text-align: left;
    border: 1px solid 10px;
}
.hide {
    background-color: #dbd9dc;
    color: rgb(106, 134, 234);
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: 100vh;
    text-align: left;
    border: 1px solid 10px;
}

.show:hover, .hide:hover {
    background-color: #dcdcdc;
}